
*{
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
  color-scheme: light only;
}

body{
    margin: 0;
    padding: 0;
}

.nav-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #151418;
    height: 7rem;
    position: fixed;
    z-index: 1;
}

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
}

.container{
    max-width: 97rem;
}


.logo{
    width: 7rem;
    
}

.hamburger-react{
    color: white;
    margin-left: 2rem;
}

.nav-img{    
    cursor: pointer;
}

.fadeIn{
    animation: fadeIn ease 1.5s;
}

.nav-list{
    position: absolute;
    right: 0;
    top: 6rem;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0 0 2rem;
    background-color: #151418;
    margin: 0;
    z-index: 999;
}

.nav-item{
   list-style-type: none;
   margin-top: 2rem;
}

.nav-links{
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
}

.nav-links:hover{
    color: #3986fa;
    cursor: pointer;
}

.resume{
  padding: .5rem;
  background-color: #3986fa;
  margin-left: auto;
  font-size: 1.3rem;
}

.resume:hover{
  color:#151418;
  background-color: white;
}

  
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

@keyframes fadeOut {
    100% {
      opacity:1;
    }
    0% {
      opacity:0;
    }
  }

  .nav_container{
    display: none;
  }

  .nav_list{
    display: flex;
    gap: 2rem;
  }

  .nav_resume{
    padding: 1rem;
    background-color: #3986fa;
    margin-left: 1.5rem;
  }

  .nav_resume:hover{
    background-color: white;
    color: #151418;
  }


@media screen and (min-width:750px) {
    .container{
        margin-left: 7rem;
        margin-right: 6rem;
    }

    .nav{
        padding: 0;
    }
    
    .hamburger-react{
        display: none;
    }

    .nav_container{
        display: block;
        margin-left: auto;
    }

    .fadeIn{
      display: none;
    }

    .resume{
      display: none;
    }
}